/*
- bold 700, semibold 600, regular 400 ok
- Font sizes: 16-18-60-36-20-40-48-14 ok
- Title, heading color: #242f51 ok
- Text color: #616368 ok
- Màu btn: #2500f9 ok
- Btn: 170x56, bold ok
- Pay description color: #999ca5 ok
- Payment border: #ebebeb
*/

// variable
$textColor: #616368;
$btnColor: #2500f9;
$title-headingColor: #242f51;

html {
  font-family: "Poppins", sans-serif;
}

// Atomic for Project
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.white-color {
  color: #fff;
}

.hidden {
  display: none;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

$fontSizes: 14, 16, 18, 20, 36, 40, 48, 60;

@each $fontSize in $fontSizes {
  .text-#{$fontSize} {
    font-size: $fontSize/10 + rem;
  }
}

.title-color,
.heading-color {
  color: $title-headingColor;
}

.text-color {
  color: $textColor;
}

.btn-color {
  background: $btnColor;
}

.btn {
  max-width: 170px;
  width: 100%;
  height: 56px;
  border-radius: 50px;
}

.btn-payment {
  max-width: 210px;
  width: 100%;
  height: 56px;
  border-radius: 50px;
}

.text-payment {
  color: #999ca5;
}

.border-payment {
  border: 2px solid #ebebeb;
}

.col-1-5 {
  width: 20%;
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
  .sm\:hidden {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {
  .md\:hidden {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 991px) {
} 

