@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a,
input, select {
  outline: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.container {
  padding: 0 15px 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.container-fw {
  padding: 0 15px 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 0 -15px;
}

/* For mobile phones: */
[class*=col-] {
  width: 100%;
  padding: 0 15px;
}

@media only screen and (min-width: 576px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  /* For desktop: */
  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
/*
- bold 700, semibold 600, regular 400 ok
- Font sizes: 16-18-60-36-20-40-48-14 ok
- Title, heading color: #242f51 ok
- Text color: #616368 ok
- Màu btn: #2500f9 ok
- Btn: 170x56, bold ok
- Pay description color: #999ca5 ok
- Payment border: #ebebeb
*/
html {
  font-family: "Poppins", sans-serif;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.white-color {
  color: #fff;
}

.hidden {
  display: none;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.text-14 {
  font-size: 1.4rem;
}

.text-16 {
  font-size: 1.6rem;
}

.text-18 {
  font-size: 1.8rem;
}

.text-20 {
  font-size: 2rem;
}

.text-36 {
  font-size: 3.6rem;
}

.text-40 {
  font-size: 4rem;
}

.text-48 {
  font-size: 4.8rem;
}

.text-60 {
  font-size: 6rem;
}

.title-color,
.heading-color {
  color: #242f51;
}

.text-color {
  color: #616368;
}

.btn-color {
  background: #2500f9;
}

.btn {
  max-width: 170px;
  width: 100%;
  height: 56px;
  border-radius: 50px;
}

.btn-payment {
  max-width: 210px;
  width: 100%;
  height: 56px;
  border-radius: 50px;
}

.text-payment {
  color: #999ca5;
}

.border-payment {
  border: 2px solid #ebebeb;
}

.col-1-5 {
  width: 20%;
}

@media (max-width: 575px) {
  .sm\:hidden {
    display: none;
  }
}
@media (max-width: 767px) {
  .md\:hidden {
    display: none;
  }
}
.header {
  margin-top: 30px;
}

.header-logo {
  display: block;
  max-width: 116px;
  height: 100%;
}
.header-logo img {
  width: 100%;
  object-fit: contain;
}

.header-nav {
  flex: 1;
  justify-content: flex-end;
}

.nav-list {
  margin-right: 40px;
}

.nav-list__item a {
  padding: 0 18px;
}

.banner {
  min-height: 85rem;
  background-size: cover;
  background-position: center;
}

.banner-img {
  max-width: 360px;
  width: 100%;
}

.banner-content p {
  line-height: 1.4;
  margin-bottom: 40px;
}

.banner-content__rank {
  background: #e2eaed;
  border-radius: 50px;
  width: max-content;
  padding: 0 45px;
  height: 36px;
  position: relative;
  margin-bottom: 25px;
}

.banner-content__rank-icon {
  background: #feaa25;
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 100%;
  border-radius: 50px;
}

.banner-heading {
  line-height: 1.2;
  margin-bottom: 28px;
}

.banner-btn a:last-child {
  color: #2500f9;
  margin-left: 25px;
}

/*# sourceMappingURL=style.css.map */
